---
layout: default
---

<script>
  var allposts = [];  
function redirectToCorrectPage() {  
	{% for post in site.docs %}  
    <% assign postUrl = "{{ post.url | slice: 1 }}"  %>
	  allposts.push("{{ site.url }}{{ postUrl }}" );  
	{% endfor %}  
	var url = window.location.toString();  
	
	var allpostsUpperCase = allposts.map(function(value) {  
		return value.toUpperCase();  
	});  
	var i = allpostsUpperCase.indexOf(url.toUpperCase());  
	if (i != -1) {  
		console.log(allposts[i]);  
		window.location = allposts[i];  
	}  
}  
window.onload = redirectToCorrectPage;
</script>

<div class="container text-center">
    <p>The page you are looking for cannot be found.</p>
    <h2>404</h2>
</div>
